#sp-copyright {
    background-color: #030303;
}

.cont {
    padding: 50px 0px 50px 0px;
    margin: 0px 0px 0px 0px;
}

#sppb-addon-1547737936841 {
    color: #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
}

/* +++++++++++++++++++++++++ */
#sppb-addon-1547737761171 {
    color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 20px 0 5px 0;

}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737761171 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737761171 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547737761171 .icon {
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547737761171 i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737761171 {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737761171 {
        width: auto;
    }
}

#sppb-addon-1547737761171 {
    transition: .3s;
}

/* +++++++++++++++++++++++++++++++++++++++++ */
#sppb-addon-1547737936862 {
    color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 10px 0 5px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737936862 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737936862 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547737936862 .icon {

    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547737936862 i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737936862 {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737936862 {
        width: auto;
    }
}

#sppb-addon-1547737936862 {
    transition: .3s;
}

/* +++++++++++++++++++++++++++++++++++++ */
#sppb-addon-1547737936867 {
    color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 10px 0 5px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737936867 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737936867 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547737936867 .icon {
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547737936867 i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737936867 {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737936867 {
        width: auto;
    }
}

#sppb-addon-1547737936867 {
    transition: .3s;
}

/* ++++++++++++++++++++++++++ */
#sppb-addon-1547737936872 {
    color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 10px 0 5px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737936872 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737936872 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547737936872 .icon {

    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547737936872 i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737936872 {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737936872 {
        width: auto;
    }
}

#sppb-addon-1547737936872 {
    transition: .3s;
}

/* +++++++++++++++++++++++++++++++++ */
#sppb-addon-1547737936877 {
    color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 10px 0 5px 0;
}

#sppb-addon-1547737936877 a {
    color: rgba(255, 255, 255, 0.90);
}

#sppb-addon-1547737936877 a:hover,
#sppb-addon-1547737936877 a:focus,
#sppb-addon-1547737936877 a:active {
    color: rgba(255, 6, 102, 0.8);
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737936877 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737936877 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547737936877 .icon {

    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547737936877 i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547737936877 {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547737936877 {
        width: auto;
    }
}

#sppb-addon-1547737936877 {
    transition: .3s;
}

/* ++++++++++++++++++++++++++++++++ */
#sppb-addon-1547738024233 {
    color: rgba(255, 6, 102, 0.8);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 0 0 10px 0;
}

#sppb-addon-1547738024233 .title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024233 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024233 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547738024233 h2 {
    margin: 0px 0px 10px 0px;
    text-transform: none;
    padding: 0px 0px 0px 0px;
}

/* +++++++++++++++++++++++++ */
#sppb-addon-1547738024266 {
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 5px 0 5px 0;
}

#sppb-addon-1547738024266 a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#sppb-addon-1547738024266 a:hover,
#sppb-addon-1547738024266 a:focus,
#sppb-addon-1547738024266 a:active {
    color: rgba(255, 6, 102, 0.8);
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024266 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024266 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547738024266 .icon {
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547738024266 i {
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024266 {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024266 {
        width: auto;
    }
}

#sppb-addon-1547738024266 {
    transition: .3s;
}

/* ++++++++++++++++++++++++ */
#sppb-addon-1547738024271 {
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 10px 0 5px 0;
}

#sppb-addon-1547738024271 a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#sppb-addon-1547738024271 a:hover,
#sppb-addon-1547738024271 a:focus,
#sppb-addon-1547738024271 a:active {
    color: rgba(255, 6, 102, 0.8);
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024271 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024271 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547738024271 .icon {
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547738024271 i {
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024271 {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024271 {
        width: auto;
    }
}

#sppb-addon-1547738024271 {
    transition: .3s;
}

/* ++++++++++++++++++++++++++++++ */
#sppb-addon-1547738024276 {
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 10px 0 5px 0;
}

#sppb-addon-1547738024276 a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#sppb-addon-1547738024276 a:hover,
#sppb-addon-1547738024276 a:focus,
#sppb-addon-1547738024276 a:active {
    color: rgba(255, 6, 102, 0.8);
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024276 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024276 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547738024276 .icon {

    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547738024276 i {
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024276 {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024276 {
        width: auto;
    }
}

#sppb-addon-1547738024276 {
    transition: .3s;
}

/* ++++++++++++++++++++++++++++++ */
#sppb-addon-1547738024281 {
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 10px 0 5px 0;
}

#sppb-addon-1547738024281 a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#sppb-addon-1547738024281 a:hover,
#sppb-addon-1547738024281 a:focus,
#sppb-addon-1547738024281 a:active {
    color: rgba(255, 6, 102, 0.8);
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024281 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024281 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#sppb-addon-1547738024281 .icon {

    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547738024281 i {
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024281 .sppb-media .sppb-media-body {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024281 .sppb-media .sppb-media-body {
        width: auto;
    }
}

#sppb-addon-1547738024281 {
    transition: .3s;
}

/* +++++++++++++++++++++++++++++++++++ */
#sppb-addon-1547738024286 {
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 0 #ffffff;
    margin: 10px 0 5px 0;
}

#sppb-addon-1547738024286 a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#sppb-addon-1547738024286 a:hover,
#sppb-addon-1547738024286 a:focus,
#sppb-addon-1547738024286 a:active {
    color: rgba(255, 6, 102, 0.8);
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024286 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024286 {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
    }
}



#sppb-addon-1547738024286 .icon {
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
    color: rgba(255, 6, 102, 0.8);
    border-width: 0px;
}

#sppb-addon-1547738024286 i {
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #sppb-addon-1547738024286 {
        width: auto;
    }
}

@media (max-width: 767px) {
    #sppb-addon-1547738024286 {
        width: auto;
    }
}

#sppb-addon-1547738024286 {
    transition: .3s;
}
/* ++++++++++++++++++++++++++el id sppb-addon-1547738024286 se repite en los demas enlaces */
