
/*section parther*/
#parther {
  height: 200vh; /* ajusta la altura de la sección */
}
.path-svg {
  background-color: rgba(0, 0, 0, 0.5); /* fondo negro con opacidad del 50% */
}

#video {
  object-fit: cover; /* ajusta el video para que cubra toda la sección */
  opacity: 0.5; /* ajusta la opacidad del video para que se vea detrás del contenido */
}
.balanceo {
  width: 70%; /* ajusta el ancho de la imagen */
  animation: balanceo 4s infinite; /* agrega la animación */
}

@keyframes balanceo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*section parther end*/
